.content__photo-grid {
    margin-bottom: 92px;
}

@media screen and (max-width: 948px) {
    .content__photo-grid {
        margin-bottom: 88px;
    }
 }

 @media screen and (max-width: 568px) {
    .content__photo-grid {
        margin-bottom: 64px;
    }
 }
 