.intro__line {
    font-weight: 700;
    margin-left: 148px;
}

@media screen and (max-width: 1140px) {
    .intro__line  {
        margin-left: 48px;
    }
 }

@media screen and (max-width: 948px) {
    .intro__line  {
       margin-left: 0;
    }
 }

@media screen and (max-width: 568px) {
    .intro__line {
       margin-left: 16px;
    }
 }  
