.intro__line_weight_bold {
    font-weight: 700;
    margin-left: 148px;
}

@media screen and (max-width: 1140px) {
    .intro__line_weight_bold  {
        margin-left: 48px;
    }
 }

@media screen and (max-width: 948px) {
    .intro__line_weight_bold  {
       margin-left: 24px;
    }
 }

@media screen and (max-width: 568px) {
    .intro__line_weight_bold {
       margin-left: 16px;
    }
 }  